
/* Layouts */
.navbar.fixed-top + .page-body-wrapper {
  padding-top: 60px; }

@media (min-width: 992px) {
  .sidebar-mini .navbar {
    left: 185px; }
    .sidebar-mini .navbar .navbar-brand-wrapper {
      width: 185px; }
    .sidebar-mini .navbar .navbar-menu-wrapper {
      width: calc(100% - 185px); }
  .sidebar-mini .sidebar {
    width: 185px; }
    .sidebar-mini .sidebar .nav .nav-item {
      padding: 0;
      margin: 0; }
      .sidebar-mini .sidebar .nav .nav-item .nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center;
        position: relative;
        border-bottom: none; }
        .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-title {
          display: block;
          margin: auto; }
        .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-sub-title {
          margin: auto; }
        .sidebar-mini .sidebar .nav .nav-item .nav-link .badge {
          margin-left: 5px;
          display: none; }
        .sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-icon {
          display: block;
          margin-right: auto;
          margin-left: auto; }
        .sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-arrow {
          display: inline-block;
          margin-left: 5px;
          position: absolute;
          top: 50%;
          right: 10px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
          .sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
            content: "\F140"; }
        .sidebar-mini .sidebar .nav .nav-item .nav-link[aria-expanded="true"] .menu-arrow:before {
          content: "\f143"; }
  .sidebar-mini .main-panel {
    width: 100%; }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item .nav-link {
      height: auto;
      padding: 0.8125rem 1rem 0.8125rem 1rem; }
      .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item .nav-link i.menu-icon {
        margin-bottom: 0.5rem; }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu {
    padding: 0;
    border-top: none; }
    .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu .nav-item .nav-link {
      padding: 7px 0 7px 25px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: left;
      width: 66%; } }

@media (min-width: 992px) {
  .sidebar-icon-only .navbar {
    left: 70px; }
    .sidebar-icon-only .navbar .navbar-menu-wrapper {
      width: calc(100% - 70px); }
      .sidebar-icon-only .navbar .navbar-menu-wrapper .navbar-toggler span:before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
  .sidebar-icon-only .sidebar {
    width: 70px;
    padding-top: 55px; }
    .sidebar-icon-only .sidebar .nav {
      overflow: visible; }
      .sidebar-icon-only .sidebar .nav .nav-item-head {
        display: none; }
      .sidebar-icon-only .sidebar .nav .nav-item {
        position: relative;
        padding: 0; }
        .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
          display: block;
          text-align: center; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title,
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge,
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-sub-title {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
            border-radius: 0 5px 5px 0px; }
            .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
              border-radius: 5px 0 0 5px; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
            margin-right: 0;
            margin-left: 0; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .sidebar-brand-logo {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .sidebar-brand-logomini {
            display: block;
            margin: auto; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .small {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
            border-radius: 0 5px 0 0px; }
            .rtl.sidebar-icon-only .sidebar .nav .nav-item .nav-link[aria-expanded] .menu-title {
              border-radius: 5px 0 0 0; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link small {
            display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item form .input-group {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .sidebar-icon-only .sidebar .nav .nav-item form .input-group .input-group-prepend .input-group-text {
            border-radius: 0;
            background: none; }
          .sidebar-icon-only .sidebar .nav .nav-item form .input-group .form-control, .sidebar-icon-only .sidebar .nav .nav-item form .input-group .select2-container--default .select2-selection--single, .select2-container--default .sidebar-icon-only .sidebar .nav .nav-item form .input-group .select2-selection--single, .sidebar-icon-only .sidebar .nav .nav-item form .input-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .sidebar-icon-only .sidebar .nav .nav-item form .input-group .select2-search__field, .sidebar-icon-only .sidebar .nav .nav-item form .input-group .typeahead,
          .sidebar-icon-only .sidebar .nav .nav-item form .input-group .tt-query,
          .sidebar-icon-only .sidebar .nav .nav-item form .input-group .tt-hint {
            display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.nav-profile {
          display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.nav-category {
          display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.nav-doc {
          margin: 0; }
          .sidebar-icon-only .sidebar .nav .nav-item.nav-doc i {
            display: block; }
        .sidebar-icon-only .sidebar .nav .nav-item .collapse {
          display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background: #fcfcfc;
          padding: 0.5rem 1.4rem;
          left: 70px;
          position: absolute;
          text-align: left;
          top: 0;
          bottom: 0;
          width: 190px;
          z-index: 1;
          line-height: 1.8; }
          .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
            background: #1a55e3; }
          .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
            left: auto;
            right: 70px;
            text-align: left; }
          .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
            color: #ffffff; }
          .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title:after {
            display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
          display: block;
          padding: 0.5rem 0;
          background: #fcfcfc;
          border-radius: 0 0 5px 0;
          position: absolute;
          left: 70px;
          width: 190px; }
          .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
            background: #18151e; }
          .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
            left: auto;
            right: 70px;
            border-radius: 0 0 0 5px; }
      .sidebar-icon-only .sidebar .nav.sub-menu {
        padding: 0 0 0 1.5rem; }
        .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
          text-align: left;
          padding-left: 20px; }
          .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link.active {
            color: #000; }
        .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item {
          margin-right: auto;
          margin-left: 0; }
          .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
            text-align: right; }
            .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:before {
              left: 0;
              right: unset; }
    .sidebar-icon-only .sidebar .sidebar-actions {
      display: none; }
  .sidebar-icon-only .main-panel {
    width: 100%; } }

@media (min-width: 992px) {
  .sidebar-hidden .navbar {
    left: 0; }
    .sidebar-hidden .navbar .navbar-menu-wrapper {
      width: 100%;
      margin-left: 48px; }
  .sidebar-hidden .sidebar {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    width: 0; }
  .sidebar-hidden .main-panel {
    width: 100%; } }

@media (min-width: 992px) {
  .sidebar-absolute .page-body-wrapper {
    position: relative; }
    .sidebar-absolute .page-body-wrapper .sidebar {
      -webkit-transition: none;
      transition: none; }
  .sidebar-absolute:not(.sidebar-hidden) .sidebar {
    position: absolute;
    -webkit-box-shadow: 0 0 3px 1px #a7a3a3;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 3px 1px #a7a3a3;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .sidebar-absolute .main-panel {
    width: 100%;
    -webkit-transition: none;
    transition: none; } }

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    position: fixed;
    max-height: auto; }
    .sidebar-fixed .sidebar .nav {
      max-height: calc(100vh - 60px);
      overflow: auto;
      position: relative; }
      .sidebar-fixed .sidebar .nav.sub-menu {
        max-height: none; }
  .sidebar-fixed .main-panel {
    margin-left: 260px; }
  .sidebar-fixed.sidebar-icon-only .main-panel {
    margin-left: 70px; } }

@media (min-width: 992px) {
  .boxed-layout .container-scroller {
    background: #e1d7ea;
    padding: 0 calc((100% - 1200px) / 2); }
  .boxed-layout .navbar {
    background: transparent; }
    .boxed-layout .navbar.fixed-top {
      margin: 0 calc((100% - 1200px) / 2);
      max-width: 1200px; } }

.rtl {
  direction: rtl;
  text-align: right; }
  .rtl .sidebar .nav {
    padding-right: 0; }
  .rtl .page-body-wrapper {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease; }
  .rtl .navbar {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    right: 260px; }
    @media (max-width: 900px) {
      .rtl .navbar {
        right: 0; } }
  .rtl.sidebar-icon-only .navbar {
    right: 0;
    left: 0; }
  .rtl .product-chart-wrapper::-webkit-scrollbar,
  .rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar,
  .rtl .sidebar-fixed .nav::-webkit-scrollbar,
  .rtl .table-responsive::-webkit-scrollbar,
  .rtl ul.chats::-webkit-scrollbar {
    width: 0.5em; }
  .rtl .product-chart-wrapper::-webkit-scrollbar-track,
  .rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-track,
  .rtl .sidebar-fixed .nav::-webkit-scrollbar-track,
  .rtl .table-responsive::-webkit-scrollbar-track,
  .rtl ul.chats::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .rtl .product-chart-wrapper::-webkit-scrollbar-thumb,
  .rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-thumb,
  .rtl .sidebar-fixed .nav::-webkit-scrollbar-thumb,
  .rtl .table-responsive::-webkit-scrollbar-thumb,
  .rtl ul.chats::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

.container-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page-body-wrapper {
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 992px) {
    .page-body-wrapper {
      width: calc(100% - 260px); } }
  .page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh; }

.main-panel {
  -webkit-transition: width 0.25s ease, margin 0.25s ease;
  transition: width 0.25s ease, margin 0.25s ease;
  width: 100%;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 991px) {
    .main-panel {
      margin-left: 0;
      width: 100%; } }

.content-wrapper {
  background: #f8f9fb;
  padding: 25px 27px;
  padding-bottom: 0;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

/*# sourceMappingURL=style.css.map */
