
/* Navbar */
.navbar {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  left: 260px;
  transition: left 0.25s ease;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  border-bottom: 1px solid #e4e9f0;
  .navbar-brand {
    width: 110px; 
  }
  .navbar-brand-wrapper {
    height: 60px; 
  }
  .navbar-toggler-left {
    border: 0;
    color: var(--bs-light);
    height: 48px;
    width: 48px;
    background: var(--bs-primary);
    border-radius: 100%;
    margin-right: 20px;
    position: absolute;
    right: 99%;
  }
}


@media (max-width: 991px) {
  .sidebar .navbar-toggler-left {
    position: static;
    background: transparent;
    border-radius: 0; 
  } 
}

@media (max-width: 991px) {
  .navbar .navbar-brand-wrapper {
    width: 55px; 
  } 
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  display: none; 
}

.navbar .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #6a6b83;
  padding-left: 24px;
  padding-right: 16px;
  width: calc(100% - 260px);
  height: 60px;
  position: relative;
  background-color: var(--bs-white);
}

@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; 
  } 
}


.rtl .navbar .navbar-menu-wrapper .navbar-toggler {
  right: auto;
  left: 100%;
  border-radius: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px; 
}

.navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  font-size: 20px; 
}

@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    display: none; 
  } 
}

@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-left: 15px;
    padding-right: 11px;
    border-right: none; 
  } 
}

.navbar .navbar-menu-wrapper .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
}


.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 0.875rem;
  margin: 0 10px 0 10px;
  height: 60px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
}

@media (max-width: 767px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    margin-left: 0.8rem;
    margin-right: 0.8rem; 
  } 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
  font-size: 1.25rem; 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
  color: #fff;
  opacity: 0.8;
  font-size: 1rem; 
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2); 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
  position: absolute;
  font-size: 14px;
  border-radius: 0.375rem;
  margin-top: 0;
  -webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
  padding: 0; 
}
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
  right: 0;
  left: auto; 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
  margin-bottom: 0;
  padding: 15px 13px;
  cursor: pointer; 
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
  font-size: 17px; 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
  margin-left: 10px; 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item:hover {
  background: #f7f8f9;
  color: #000; 
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-divider {
  margin: 0; 
}

@media (min-width: 992px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu:before {
    content: "";
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom: 8px solid white;
    position: absolute;
    left: 10px;
    bottom: 100%;
    border-radius: 2px; 
  }
  .rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu:before {
    left: auto;
    right: 10px; 
  }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.center:before {
  left: 67px; 
}

@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static; 
  }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: 20px;
    right: 20px;
    top: 60px;
    width: calc(100% - 40px); 
  } 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings {
  padding-left: 20px;
  padding-right: 5px; 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-settings .nav-link {
  margin-right: 0;
  margin-left: 0; 
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {
  position: relative;
  width: 32px;
  height: 32px; 
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 100%; 
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 1.25rem;
  font-weight: 600; 
}
.rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem; 
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text p {
  line-height: 1;
  font-size: 14px; 
}

@media (max-width: 767px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
    display: none; 
  }
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link.dropdown-toggle:after {
  line-height: 2;
  color: #8e94a9;
  opacity: 1;
  font-size: 18px; 
}

.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
  margin-left: auto; 
}

@media (min-width: 992px) {
  .rtl .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: 0;
    margin-right: auto; 
  } 
}

.navbar.navbar-index {
  left: 0; 
}

@media (max-width: 991px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    left: 0;
    background: inherit; 
  }
  .navbar .navbar-brand-wrapper {
    width: 75px; 
  }
  .rtl .navbar .navbar-brand-wrapper {
    width: 54px; 
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
    display: none; 
  }
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: inline-block; 
  }
  .rtl .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    margin-left: 19px; 
  }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem; 
  } 
}

/* Navbar color variations */
.navbar.navbar-primary .navbar-menu-wrapper {
  background: #0033c4;
  color: #ffffff; 
}
.navbar.navbar-primary .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
  color: #ffffff; 
}
.navbar.navbar-primary .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
  color: #ffffff; 
}
.navbar.navbar-primary .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
  color: #ffffff; 
}
.navbar.navbar-primary .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
  color: #ffffff; 
}
.navbar.navbar-primary .navbar-menu-wrapper .search-field .input-group i {
  color: #ffffff; 
}

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; 
}

.navbar.navbar-secondary .navbar-menu-wrapper {
  background: #a0a0a0;
  color: #ffffff; 
}
.navbar.navbar-secondary .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
  color: #ffffff; 
}
.navbar.navbar-secondary .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
  color: #ffffff; 
}
.navbar.navbar-secondary .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
  color: #ffffff; 
}
.navbar.navbar-secondary .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
  color: #ffffff; 
}
.navbar.navbar-secondary .navbar-menu-wrapper .search-field .input-group i {
  color: #ffffff; 
}

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; 
}

.navbar.navbar-success .navbar-menu-wrapper {
  background: #00d284;
  color: #ffffff; 
}
.navbar.navbar-success .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
  color: #ffffff; 
}
.navbar.navbar-success .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
  color: #ffffff; 
}
.navbar.navbar-success .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
  color: #ffffff; 
}
.navbar.navbar-success .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
  color: #ffffff; 
}
.navbar.navbar-success .navbar-menu-wrapper .search-field .input-group i {
  color: #ffffff; 
}

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; }

.navbar.navbar-info .navbar-menu-wrapper {
  background: #00cff4;
  color: #ffffff; }
  .navbar.navbar-info .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-info .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-info .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-info .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-info .navbar-menu-wrapper .search-field .input-group i {
    color: #ffffff; }

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; }

.navbar.navbar-warning .navbar-menu-wrapper {
  background: #ff5730;
  color: #ffffff; }
  .navbar.navbar-warning .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-warning .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-warning .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-warning .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-warning .navbar-menu-wrapper .search-field .input-group i {
    color: #ffffff; }

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; }

.navbar.navbar-danger .navbar-menu-wrapper {
  background: #ff0854;
  color: #ffffff; }
  .navbar.navbar-danger .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-danger .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-danger .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-danger .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-danger .navbar-menu-wrapper .search-field .input-group i {
    color: #ffffff; }

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; }

.navbar.navbar-light .navbar-menu-wrapper {
  background: #f8f9fa;
  color: #ffffff; }
  .navbar.navbar-light .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-light .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-light .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-light .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-light .navbar-menu-wrapper .search-field .input-group i {
    color: #ffffff; }

.navbar.navbar-light .navbar-menu-wrapper {
  color: #000; }

.navbar.navbar-dark .navbar-menu-wrapper {
  background: #3e4b5b;
  color: #ffffff; }
  .navbar.navbar-dark .navbar-menu-wrapper .search-field .input-group input:-ms-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-dark .navbar-menu-wrapper .search-field .input-group input:-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-dark .navbar-menu-wrapper .search-field .input-group input::-moz-placeholder {
    color: #ffffff; }
  .navbar.navbar-dark .navbar-menu-wrapper .search-field .input-group input::-webkit-input-placeholder {
    color: #ffffff; }
  .navbar.navbar-dark .navbar-menu-wrapper .search-field .input-group i {
    color: #ffffff; }

