// Configuration

@import '~bootstrap/scss/functions';



@import '~bootstrap/scss/variables';

// Schoolviser custom variables
@import 'variables';

@import '~bootstrap/scss/variables-dark';

@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';


// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

//Jquery UI
@import "~jquery-ui/themes/base/all.css";

.no-scroll {
  overflow: hidden;
}


@import "core";
@import "icons";
@import "cards";
@import "tables";
@import "forms";
@import "footer";

.main-panel {
  width: 100%;
  .content-wrapper{

  }
}


.page-body-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; 
}

@media (max-width: 991px) {
  .page-body-wrapper {
    padding-top: 70px; 
  }
}

.page-body-wrapper.full-page-wrapper .content-wrapper {
  width: 100%;
  height: 100vh;
  max-width: none; 
}



.container-scroller .content-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin: auto;
  padding: 22px 0.937rem;
  min-height: calc(100vh - 161px); 
}

@media (min-width: 576px) {
  .container-scroller .content-wrapper {
    max-width: 540px; 
  } 
}
@media (min-width: 768px) {
  .container-scroller .content-wrapper {
    max-width: 720px; 
  } 
}

@media (min-width: 992px) {
  .container-scroller .content-wrapper {
    max-width: 960px; 
  } 
}

@media (min-width: 1200px) {
  .container-scroller .content-wrapper {
    max-width: 1140px; 
  } 
}
  
.container-scroller .page-body-wrapper {
  background: #f8f9fb;
  padding-left: 0;
  padding-right: 0; 
}
  
.horizontal-menu.fixed-on-scroll + .page-body-wrapper {
  padding-top: 58px; 
}

@media (max-width: 991px) {
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  display: none; } }

@media (max-width: 991px) {
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
  padding-left: 15px;
  padding-right: 11px; } }

.rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
padding-right: 0; }

.rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem; 
}




@media (max-width: 767px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text {
    display: none; 
  }
}



.horizontal-menu.fixed-on-scroll + .page-body-wrapper {
padding-top: 58px; 
}


@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    display: none; 
  } 
}

@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-left: 15px;
    padding-right: 11px; 
  }
}

.rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav {
  padding-right: 0; 
}
          
.rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem; 
}

@media (max-width: 767px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text {
    display: none; 
  } 
}

           


/**Horizontal menu **/
.horizontal-menu {
  .top-navbar {
    font-weight: 400;
    background: #ffffff;
    border-bottom: 1px solid #e4e9f0;
    .navbar-brand-wrapper {
      width: auto;
      height: 70px;
      .navbar-brand {
        color: #27367f;
        font-size: 1.5rem;
        margin-right: 0;
        padding: 0.25rem 0;
        text-align: left; 
        img {
          max-width: 100%;
          width: 149px;
          height: 34px;
          margin: auto;
          vertical-align: middle; 
        }
      }
      .navbar-brand.brand-logo-mini {
        display: none;
        padding-left: 0;
        text-align: center;
        img {
          width: 30px;
          max-width: 100%;
          margin: auto; 
        }
      }
      .navbar-brand:hover {
        color: #1b2658; 
      }
    }
    .navbar-menu-wrapper {
      color: #000000;
      width: 50%;
      height: 70px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; 
    }
  }
}

@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand {
    width: 55px; 
  }
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
    display: none; 
  }
  .horizontal-menu .top-navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: block; 
  } 
}


.horizontal-menu .top-navbar  .navbar-nav .nav-item.nav-profile .nav-profile-img {
  position: relative; 
}

.horizontal-menu .top-navbar  .navbar-nav .nav-item.nav-profile .nav-profile-img img {
  width: 39px;
  height: 39px;
  border-radius: 100%; 
}
@media (max-width: 767px) {
  .horizontal-menu .top-navbar  .navbar-nav .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem; 
  }
}

.horizontal-menu .top-navbar  .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
 }
 @media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper {
    width: calc(100% - 55px);
    padding-left: 15px;
    padding-right: 0; 
  } 
}

.horizontal-menu .top-navbar  .navbar-toggler {
  border: 0;
  color: inherit;
  font-size: 1.5rem; 
 }

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item {
  margin-left: 1rem;
  margin-right: 1rem; 
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
  font-size: 14px; 
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text {
  margin-left: 1.25rem;
  line-height: 1; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text p {
  margin-bottom: 0; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text .online-color,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-profile-text i {
  color: #a0a0a0; 
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link::after {
  font-size: 1rem; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search {
  margin-left: 49px; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group {
  border-radius: 4px;
  max-width: 725px;
  max-height: 39px; 
}
  
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-text {
  background: #e4e9f0;
  border: 0;
  color: #000000;
  padding: 0; 
}
             
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-text {
  max-height: 39px; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-text i {
  font-size: 15px;
  padding: 12px 15px;
  color: #a0a0a0; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint {
  max-height: 39px;
  padding: 12px 534px 12px 0; 
}

@media (max-width: 1198px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead,
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query,
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint {
    padding: 12px 0 12px 359px; 
  } 
}





.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control::-webkit-input-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single::-webkit-input-placeholder, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single::-webkit-input-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field::-webkit-input-placeholder, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field::-webkit-input-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead::-webkit-input-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query::-webkit-input-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint::-webkit-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 600; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control:-moz-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single:-moz-placeholder, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single:-moz-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field:-moz-placeholder, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field:-moz-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead:-moz-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query:-moz-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint:-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 600; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control::-moz-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single::-moz-placeholder, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single::-moz-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field::-moz-placeholder, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field::-moz-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead::-moz-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query::-moz-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 600; 
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .form-control:-ms-input-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single:-ms-input-placeholder, .select2-container--default .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-selection--single:-ms-input-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-container--default .select2-selection--single .select2-search__field:-ms-input-placeholder, .select2-container--default .select2-selection--single .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .select2-search__field:-ms-input-placeholder, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .typeahead:-ms-input-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-query:-ms-input-placeholder,
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .tt-hint:-ms-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 600; 
}
.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  right: 0;
  left: auto;
  top: 70px; 
}



.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  margin-bottom: 0;
  padding: 0.687rem 1.562rem;
  cursor: pointer; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item:hover {
  color: inherit; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  font-size: 17px; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .badge {
  margin-left: 2.5rem; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
  margin: 0; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
  margin-right: 0.5rem;
  vertical-align: middle; 
}

@media (max-width: 991px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    position: static; 
  }
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: 20px;
    right: 20px;
    top: 70px;
    width: calc(100% - 40px); 
  } 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
  border: none;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2); 
}

@media (min-width: 992px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu:before {
    content: "";
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom: 8px solid white;
    position: absolute;
    right: 10px;
    bottom: 100%;
    border-radius: 2px; 
  } 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item:last-child {
  margin-right: 0; 
}

.horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
}

@media (min-width: 992px) {
  .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto; 
  }
  .rtl .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: 0;
    margin-right: auto; 
  } 
}

/**BOTTOM NAVBAR **/

.horizontal-menu {
  .bottom-navbar {
    background: #0033c4;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-property: position, left, right, top, z-index;
    transition-property: position, left, right, top, z-index;
    box-shadow: 0 19px 34px -15px #d2d2f2;
    -webkit-box-shadow: 0 19px 34px -15px #d2d2f2;
    -moz-box-shadow: 0 19px 34px -15px #d2d2f2;
    .page-navigation {
      position: relative;
      width: 100%;
      z-index: 99;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-property: background, box-shadow;
      -webkit-transition-property: background, -webkit-box-shadow;
      transition-property: background, -webkit-box-shadow;
      transition-property: background, box-shadow;
      transition-property: background, box-shadow, -webkit-box-shadow;
    }
    .page-navigation > .nav-item {
      line-height: 1;
      text-align: left;
      border-right: 1px solid rgba(151, 151, 151, 0.34);
    }
  }
}

@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar {
    display: none; 
  }
  .horizontal-menu .bottom-navbar.header-toggled {
    display: block;
    max-height: calc(100vh - 70px);
    overflow: auto; 
  } 
}


@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar .page-navigation {
    border: none; 
  } 
}


@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item {
    display: block;
    width: 100%;
    border-right: none;
  } 
}


@media (min-width: 992px) {
 .horizontal-menu .bottom-navbar .page-navigation > .nav-item:first-child > .nav-link {
   padding-left: 0; 
  } 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item:last-child {
  border-right: none; 
}

 @media (min-width: 992px) {
   .horizontal-menu .bottom-navbar .page-navigation > .nav-item:last-child > .nav-link {
     padding: 15px 0 15px 13px;
     border: 0;
   }

  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:last-child > .nav-link i {
    font-size: 20px;
  } 
}
 
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
  color: #ffffff;
  padding: 22px 12px 22px 7px;
  line-height: 1;
  font-weight: 400; 
}
 
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-title {
  font-size: 0.875rem;
  font-weight: 500; 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-icon {
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400; 
}
   

@media (min-width: 992px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .dropdown-menu-right:before {
    content: "";
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom: 8px solid white;
    position: absolute;
    right: 10px;
    bottom: 100%;
    border-radius: 2px; 
  } 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-arrow {
  margin-left: 5px;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  moz-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  opacity: 0.53; 
}
   
.rtl .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-arrow {
  margin-left: 0;
  margin-right: 5px; 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-arrow:before {
  content: "\f140";
  font-family: "Material Design Icons";
  font-style: normal;
  display: block;
  font-size: 18px;
  line-height: 10px; 
}

 @media (min-width: 768px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover .submenu {
    display: block; 
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link {
    background: transparent; 
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link i,
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link .menu-title {
    color: #215bff;
    -webkit-transition: color 1s ease;
    transition: color 1s ease; 
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:hover > .nav-link .menu-arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    moz-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s; 
  } 
}

@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item.show-submenu .submenu {
    display: block; 
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item.show-submenu > .nav-link {
    background: transparent; 
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item.show-submenu > .nav-link i,
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item.show-submenu > .nav-link .menu-title {
    color: #215bff;
    -webkit-transition: color 1s ease;
    transition: color 1s ease; 
  }
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item.show-submenu > .nav-link .menu-arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    moz-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s; 
  } 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link {
  position: relative; 
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 5px; 
}
@media (max-width: 991px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link:before {
    left: -15px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 5px; 
  } 
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link .menu-title,
.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link i,
.horizontal-menu .bottom-navbar .page-navigation > .nav-item.active > .nav-link .menu-arrow {
  color: #ffffff;
  font-weight: 600; 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu {
  display: none; 
}

@media (max-width: 991px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu {
    background: #ffffff; 
  } 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul {
  list-style-type: none;
  padding-left: 0; 
}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li {
  display: block;
  line-height: 20px; 
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li a {
  display: block;
  padding: 4px 4px;
  font-weight: 300;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  text-align: left;
  margin: 3px 0;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background;
  transition-property: background;
  border-radius: 6px;
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li a:hover {
  color: var(--bs-primary);
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear; 
  background-color: #cfcfcf;
  font-size: 13px;

}

.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li a:hover:before {
  background: #0033c4; 
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li a.active {
  color: #0033c4; 
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li.active a {
  color: #0033c4; 
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item .submenu ul li.active a:before {
  background: #0033c4; 
}


 
@media (min-width: 768px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) .submenu {
  position: absolute;
  top: 58px;
  z-index: 999;
  background: #ffffff;
  border-top: none;
  border-radius: 4px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) .submenu li a {
  position: relative;
}

}


@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) .submenu {
    position: relative;
    top: 0;
    -webkit-box-shadow: none;
    box-shadow: none; 
  }
}

@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) .submenu {
    top: 0; 
  }
}
.horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) .submenu ul {
  width: auto;
  padding: 25px; 
}
@media (max-width: 991.98px) {
  .horizontal-menu .bottom-navbar .page-navigation > .nav-item:not(.mega-menu) .submenu ul {
    padding: 0 23px; 
  } 
}

  
.horizontal-menu.fixed-on-scroll .bottom-navbar {
  border-bottom: 1px solid #e4e9f0; 
}
  
@media (max-width: 991px) {
  .horizontal-menu {
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0; 
  }
}
  
.table {
  border: 1px solid #dcdcdc;
}



.pageheader-links {
  a.link {
    padding: 4px 4px;
    font-weight: 400;
    &:hover {
      background-color: var(--bs-light);
      color: #0033c4 !important;
      border: 1px solid var(--bs-light);
    }
  }
}

a.link {
  padding: 4px 4px;
  font-weight: 400;
  &:hover {
    background-color: var(--bs-light);
    color: #0033c4 !important;
    border: 1px solid var(--bs-light);
  }
}


form input[type='checkbox'] {
  border: 1px solid rgb(115, 103, 246) !important;
}


form input[type='text'], input[type='date'], select, textarea {
  border: 1px solid rgb(115, 103, 246) !important;
  background-color: rgb(249, 246, 246) !important;
  color: rgb(118, 127, 254) !important;
}


.top-navbar .nav-item.dropdown .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2); 
}
.top-navbar .nav-item.dropdown .dropdown-menu.navbar-dropdown {
  position: absolute;
  font-size: 14px;
  border-radius: 0.375rem;
  margin-top: 0;
  -webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
  padding: 0; 
}

.top-navbar .nav-item.nav-profile .nav-link .nav-profile-img {
  position: relative;
  width: 32px;
  height: 32px; 
}

.top-navbar .nav-item.nav-profile .nav-link .nav-profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 100%; 
}
.top-navbar .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 1.25rem;
  font-weight: 600; 
}
.top-navbar .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 0;
  margin-right: 1.25rem; 
}
.top-navbar .nav-item.nav-profile .nav-link .nav-profile-text p {
  line-height: 1;
  font-size: 14px; 
}



/* Preview */
.preview-list .preview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: .75rem 1.5rem;
  font-size: .875rem; }
  .preview-list .preview-item:last-child {
    border-bottom: 0; }
  .preview-list .preview-item:hover {
    background: #f8f9fa; }
  .preview-list .preview-item .form-check {
    margin-top: 8px;
    margin-right: 1rem; }
  .preview-list .preview-item .preview-thumbnail {
    color: #ffffff;
    position: relative; }
    .preview-list .preview-item .preview-thumbnail img,
    .preview-list .preview-item .preview-thumbnail .preview-icon {
      width: 36px;
      height: 36px;
      border-radius: 100%; }
    .preview-list .preview-item .preview-thumbnail .preview-icon {
      padding: 6px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .preview-list .preview-item .preview-thumbnail .preview-icon i {
        font-size: 1.125rem;
        margin: 0; }
    .preview-list .preview-item .preview-thumbnail .badge {
      border: 2px solid #ffffff;
      border-radius: 100%;
      bottom: 5px;
      display: block;
      height: 14px;
      left: -5px;
      padding: 0;
      position: absolute;
      width: 14px; }
  .preview-list .preview-item .preview-item-content {
    line-height: 1;
    padding-left: 15px;
    padding-right: 20px; }
    .preview-list .preview-item .preview-item-content:first-child {
      padding-left: 0; }
    .preview-list .preview-item .preview-item-content p {
      margin-bottom: 10px; }
      .preview-list .preview-item .preview-item-content p .content-category {
        font-family: 'source-sans-pro-semibold', sans-serif;
        padding-right: 15px;
        border-right: 1px solid #e4e9f0; }
    .rtl .preview-list .preview-item .preview-item-content {
      padding-left: 0;
      padding-right: 1rem;
      margin-right: 0;
      margin-left: auto; }
  .preview-list .preview-item .preview-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .preview-list .preview-item .preview-actions i {
      width: 29px;
      color: #e6e9ed;
      height: 29px;
      border: 2px solid #e6e9ed;
      border-radius: 100%;
      padding: 3px 6px;
      display: inline-block; }
      .preview-list .preview-item .preview-actions i:first-child {
        margin-right: 10px; }

.preview-list.comment-preview .preview-item {
  padding: .87rem 0; }
  .preview-list.comment-preview .preview-item:first-child {
    padding-top: 0; }
  .preview-list.comment-preview .preview-item p {
    line-height: 27px; }

.preview-list.bordered .preview-item {
  border-bottom: 1px solid #e4e9f0; }
  .preview-list.bordered .preview-item:last-child {
    border-bottom: 0; }

//Navbar left
.navbar-nav-left{
  .nav-item {
    a.nav-link {
      font-size: 12px !important;
    }
  }
}

// Offcanvas Menu

.offcanvas-menu{
  -webkit-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-property: position, left, right, top, z-index;
    transition-property: position, left, right, top, z-index;
    box-shadow: 0 19px 34px -15px #d2d2f2;
    -webkit-box-shadow: 0 19px 34px -15px #d2d2f2;
    -moz-box-shadow: 0 19px 34px -15px #d2d2f2;
    width: 30% !important;
  .offcanvas-body{
    
    ul{
      li.nav-item {
        line-height: 1;
        text-align: left;
        list-style: none;
        .nav-link {
          font-weight: 400; 
          padding: 5px;
          font-size: 0.875rem;
          
        }
      }
      li.menu-title {
        font-size: 0.675rem;
        color: red;
        font-weight: 500;
        line-height: 1;
        padding: 10px 0px 6px 0;
      }
    }
  }
}


 

.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-icon {
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400; 
}
